@{
    ViewData["Title"] = "O aplikacji";
}
<h1>@ViewData["Title"]</h1>
<h2>Panel administracyjny systemu LOKata do zarządzania zawodami</h2>
<p>Wersja 0.0.1</p>
<p> © 2024</p>
<p>Wykonanie: Angelika Maria Piątkowska</p>
<p>tak, wiem że na tabelkach i w ogóle lamię, ale miało być KDD (kolano driven development) to jest.</p>
