@{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj:)</h1>
    <h2>To nie dzieło sztuki. To Kolano Driven Development</h2>
    <h3>Ale jak się nie ma co się lubi, to się kradnie co popadnie</h3>
    <h4>Na przykład kod ze stack overflow, chat gpt i materiałów wykładowcy</h4>
    <h5 >Ale nie moja wina, że czasami każą backendowcom programować fronty:(</h5>
    <h6 >A tak na serio, to jestem zadowolona z efektu końcowego</h6>
    <img src="~/images/powiastka.webp" class="img-fluid" alt="wygenerowane przez chat gpt przy użyciu promptu |Poproszę plik png z powiastką do wojska na 1 linię frontu, jaką mógłby dostać programista backendu c#|">
</div>