@model Lokata.Web.Models.CompetitorModels.CompetitorSexViewModel
@{
    ViewData["Title"] = "Dodaj uczestnika";
}

<div class="row mb-3">
    <div class="col-12">
        <h4>Nowy uczestnik</h4>
    </div>
</div>
<div>
    <form asp-action="Create">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div class="row gy-3">
                <div class="col-6">
                    <label asp-for="FullName" class="form-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger" />
                </div>
                <div class="col-3">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger" />
                </div>
                <div class="col-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input type="number" asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger" />
                </div>
                <div class="col-6">
                    <label asp-for="IsDisabledPerson" class="form-label"></label>
                    <input type="checkbox" asp-for="IsDisabledPerson" />
                    <span asp-validation-for="IsDisabledPerson" class="text-danger" />
                </div>
                <div class="col-6">
                    <label asp-for="Professional" class="form-label"></label>
                    <input type="checkbox" asp-for="Professional" />
                    <span asp-validation-for="Professional" class="text-danger" />
                </div>
                <div class="col-6">
                    <label asp-for="SexId" class="form-label"></label>
                    <select asp-for="SexId" asp-items="@(new SelectList(Model.Sexes, "Id", "Name"))" class="form-control">
                        <option value="">Wybierz płeć</option>
                    </select>
                    <span asp-validation-for="SexId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.setDefaults({
            ignore: []
        });

    </script>
}