@model Lokata.Web.Models.DocumentModel.DocumentViewModel
@{
    ViewData["Title"] = "Dodaj dokument";
}

<div class="row mb-3">
    <div class="col-12">
        <h4>Nowy dokument</h4>
    </div>
</div>
<div>
    <form asp-action="Create" class="form-container" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="File"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.setDefaults({
            ignore: []
        });
    </script>
}